.cta_section{
  // background-image: url("../images/cta.png");
  background-color: $main_color;
  // background-position: center;
  // background-repeat: no-repeat;
  padding: 100px 0;
  margin-bottom: 120px;
  position: relative;
}
.ctaback{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
}
.cta{
  text-align: center;
  h2{
    font-size: 40px;
    font-weight: 700;
    color: $color_1;
    margin-bottom: 40px;
    line-height: 1.2;

  }
  .btn_group{
    justify-content: center;
    button{
      background-color: transparent;
      color: $color_1;
      border:2px solid #676f74;
      &:hover{
      background-color: $color_2;
      color: $main_color;
      border-color: $color_2;
      }
      button.click_popup{
        &:hover{
          background-color: #ffdb5b;
          border-color: #ffdb5b;

        }
      }
    }
    button.b_white{
      background-color: $color_2;
      color: $main_color;
      border-color: transparent;
      &:hover{
      background-color: #ffdb5b;

      }
    }
  }
}
.click_popup{
  &:hover{
    background-color: #ffdb5b!important
  }
}

@include xs{
  .cta_section{
    background-attachment: inherit;
    padding: 60px 0;
    margin-bottom: 80px;
  }
  .cta{
    text-align: center;
    h2{
      font-size: 22px;
      margin-bottom: 30px;
      line-height: 1.6;
    }
    .btn_group{
      justify-content: center;
    }
  }
  .btn_group{
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      border-radius: 22.5px;
      padding: 0 20px;
      font-size: 14px;
    }
  } 

}




